html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

a:hover{
  text-decoration: none;
  cursor: pointer;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

hr{
  width: 6%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid red;
}

.navbar{
  padding: 0;
}

header {
    z-index: 1;
    position: fixed;
    width: 80%;
    height: 60px;
    background: rgba(0, 0, 0, 0.1);
}

.light-bg{
  background: rgba(0, 0, 0, 0.1);
}

header a {
    color: white;
    background: rgba(0, 0, 0, 0.1);
    padding: 0px 30px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    float: left;
}

.logo-li{
  width: 20%;
}

.logo-img{
  width: 64%;
  float: left;
}

.nav-item{
  padding-top: 10px;
}

#hero1 {
    background: url('../imgs/Co.jpg');
    /* background: url('../imgs/Pe.jpg'); */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#hero2 {
    background: url('../imgs/Po.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.hero,
.content {
    text-align: center;
    position: relative;
    width: 100%;
    /* margin-bottom: 2em; */
}

.inner {
    min-height: 664px;
    position: relative;
}

.hero .inner {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
    height: 0;
}

.copy {
    position: absolute;
    top: 50%;
    height: 10em;
    margin-top: -5em;
    width: 88%;
}
.service{
  background: #f3f5f8;
}
.services {
  position: absolute;
  top: 24%;
  height: 10em;
  margin-top: -5em;
  width: 100%;
}

.About.copy {
  position: absolute;
  top: 40%;
  height: 10em;
  margin-top: -5em;
  width: 100%;
}

.hero h1,
.hero p {
    color: #fff;
}

.content h1,
.content p {
    color: #333;
}

h1 {
    margin: 0px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 32px;
    padding: 0px 20px;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    padding: 0px 20px;
}


/* old css */

/* # pixel css */
/* body{
  padding-top: 0em;
} */

/* .jumbotron{
  background-image: url('../imgs/Po.jpg');
  background-size: cover;
  background-position: center;
  height: 96vh;
}

.about-intro {
    top: 32%;
    position: absolute;
    background: rgba(221, 221, 221, 0.4);
    padding: 0.8em;
    left: 5.6%;
} */

/* .about-intro > h1 {
  text-transform: uppercase;
} */

.heading{
  margin-bottom: 4%;
  width: 80%;
}

.heading > p , h1{
 width: 96%;
 text-transform: uppercase;
}

.heading > p{
  font-size: 16px;
  font-weight: 100;
  text-transform: lowercase;
 }

 .heading > h1{
  font-size: 50px;
  font-weight: 900;
 }
/*
header{
  text-align: center;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 40px;
} */

/* header h1{
  font-weight: 900;
  text-transform: uppercase;
} */



.nested {
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: 70px;
}

.nested > div{
/* border: 1px solid #000; */
/* padding: 0.2em; */
}

.box1{
grid-column: 1;
grid-row:1/4;
/* background: #3949AB; */
}

.box2{
grid-column: 2;
grid-row:1/3;
/* background: #2E7D32; */
}

.box3{
grid-column: 3;
grid-row:1/4;
/* background: #FFA000; */
}

.box4{
grid-column: 1;
grid-row:4/7;
/* background: #FFA000; */
}

.box5{
grid-column: 2;
grid-row:4/6;
/* background: #EC407A; */
}

.box6{
grid-column: 3;
grid-row:4/7;
/* background: #3949AB; */
}

.box7{
grid-column: 2;
grid-row:9/5;
/* background: #2E7D32;/ */
}
.box8{
grid-column: 1;
grid-row:7/9;
/* background: #3949AB; */
}
.box9{
grid-column: 3;
grid-row:7/9;
/* background: #3949AB; */
}

.box10{
  grid-column: 1;
  grid-row:10;
  /* background: #3949AB; */
  }

.box11{
  grid-column: 2;
  grid-row:11;
  margin-top: -30px
}

.box12{
  grid-column: 3;
  grid-row:10;
}

.box13{
  grid-column: 2;
  grid-row:14;
  margin-top: -30px
}

.gallery{
  margin-top: 8%;
  min-height: 224vh;
}

.d-md-block{
  width: 64%;
  left: 10%;
  position: relative;
}

.about-p{
  width: 64%;
  margin-left: 16%;
}

.pricing{
  margin-top: 104px;
}

/* PRICING SECTION */

.title{
  font-weight: 900;
}
ul{
  list-style-type: none;
}

.products-profile{
  margin: 1em;
}

.photo-products{
  text-align: left;
  align-content: left;
  margin-left: 16%;
  width: 64%;
}

.prices{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  /* grid-gap: 1em; */
  grid-auto-rows: 70px;
  /* padding: 1em; */
  grid-auto-rows: minmax(84px , auto);
}

.prices > div{
  padding-top: 24px;
}

.content1{
grid-column: 1;
grid-row:2/7;
/* background: #3949AB; */
box-shadow: -2px 0px 8px 0px red;
padding-top: 32px!important;
}
.content3{
grid-column: 3;
grid-row:2/7;
/* background: #3949AB; */
box-shadow: 2px 0px 8px 0px red;
}
.content2{
grid-column: 2;
grid-row:1/8;
/* background: #3949AB; */
z-index: 1000;
box-shadow: 0px 0px 16px 1px red;
padding-top: 24%!important;
}
.price{
  font-size: 56px;
  font-weight: 900;
}
.sign{
  font-size: 24px;
    font-weight: 900;
    position: absolute;
    margin-top: 6%;
    margin-left: -4%;
}
.month{
  font-weight: 900;
}

.second-btn{
  margin-top: 16%;
}
.btn-secondary{
  text-transform: uppercase;
}

/* END OF PRICING SECTION */
.mastfoot{
  min-height: 40px;
  padding: 1em;
  margin-top: 40px;
}

.price-card{
  margin-bottom: 2em;
}


